[Unit] 
Description=E-Diary Api

[Service] 
WorkingDirectory=/var/www/E-Diary 
ExecStart=/usr/bin/dotnet /var/www/E-Diary/E-Diary.API.dll
SyslogIdentifier=offershare-web-app
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install] 
WantedBy=multi-user.target